@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables */
:root {
  --primary-text: #00ff1e;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Nunito", sans-serif;
}

/* Header */
/* Logo */
#logo {
  color: #0062ffab;
}

nav {
  ul {
    display: flex;

    li {
      color: var(--primary);
    }
  }
}

/* Main */

/* Section Article */

/* Footer */